body, html {
    height: 80%;
    margin: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56d93b; /* Optional: Add a background color for better visibility */
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    background: #ffffff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .status {
    margin-bottom: 10px;
  }
  